.cover {
    position:absolute;
    padding-left: 10%;
    padding-top: 3%;
}

.profile-name {
    position: absolute;
    padding-top: 8%;
    padding-left: 10%;
}

.profile-username {
    position: absolute;
    padding-top: 10%;
    padding-left: 10%;
}

.profile-follow {
    position: absolute;
    padding-top: 15%;
    padding-left: 5%;
}

